.fullinput, .fulllabel, .vertlabel {
    display:    block;
    margin-top: 10px;
  }
  
  .fullinput{
    width: 100%;
  }
  
  .vertcontainer {
    margin-top: -1vh;
    height:     10vw; /*vw is good cross-platform*/
    width:      auto;
  }
  
  .vertinput{
    position: relative;
    top:      0px;
    width:    10vw; /*vw is good cross-platform*/
    margin-bottom:  0.1vh;
    margin-left:   -3.1vw;
    margin-right:  -3.1vw;
    height:          10vw;
  
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  
  .horizinput{
    position: relative;
    top:      0px;
    margin-bottom:  0.1vh;
    width:          100%;
  }
  
  .fulllabel {
    margin-left:  20px;
    margin-right: 20px;
  }
  
  .form-wrapper .field-list .field {
    display:        flex;
    flex-direction: column-reverse;
  }
  
  .controlrow {
    display: flex;
    width:   99.5%;
  }
  
  .inforow {
    display: flex;
    width:   90.5%;
    margin-left: 5%;
  }
  
  .controlcol {
    font-size: 0.9em;
    display:   flex;
    flex-direction: column;
    align-items:    center;
    padding-top:    1vh;
    margin:         auto;
    overflow-x:     hidden;
    /* height: 150px; */
  }
  
  .horizcontrolcol {
    font-size: 0.9em;
    flex-direction: column;
    align-items:    center;
    padding-top:    1vh;
    margin:         auto;
    overflow-x:     hidden;
  }
  
  .infocol {
    font-size: 0.9em;
    display:   flex;
    flex-direction: column;
    align-items:    left;
    padding-top:    1vh;
    margin:         auto;
    overflow-x:     hidden;
  }
  
  .controlbox {
    display: flex;
    justify-content: center;
    align-items:     center;
  }
  
  .controlbox {
    font-size: 0.9em;
    display:   flex;
    flex-direction: column;
    padding-top:    1vh;
    flex-grow:      1;
  }
  
  .controlsection {
    display:       flex;
    border:        2px solid rgb(48, 24, 184);
    padding-top:   1vh;
    border-radius: 12px;
  }
  

  @media only screen and (max-width: 600px), screen and (max-height: 600px) {
    .rpt-contents, .inp-contents{
      font-size: 0.6em;
    }
  
    .controlcol, .controlbox {
      font-size: 0.79em;
    }
  
    .controlsection {
      display:       flex;
      border:        2px solid white;
      padding:       0px;
      padding-top:   1vh;
      border-radius: 8px;
    }
  }
  
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .visible-element {
    display: block;
    visibility: visible;
  }
  
  .invisible-element {
    display: none;
    visibility: hidden;
  }

  .custom-slider {
    align-items: center;
    padding: 25px 25px 25px 25px; 
    /* height: 100px; */
  }